<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <div class="well text-center">
            <h2>Bem vindo, Wellinton!</h2>
            <p>Pala utilizar as funções da intranet, utilize o menu lateral.</p>
          </div>
          <div class="row">
            <h1>Alterar Dados</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3" for="inputEmail">Email:</label>
                    <div class="col-xs-9">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="inputPassword">Senha:</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="confirmPassword">Repetir senha:</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmação da senha">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="firstName">Nome:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="firstName" placeholder="Nome">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="lastName">Sobrenome:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="lastName" placeholder="Sobrenome">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="phoneNumber">Telefone:</label>
                    <div class="col-xs-9">
                        <input type="tel" class="form-control" id="phoneNumber" placeholder="Telefone para contato">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Data de nascimento:</label>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" id="phoneNumber" placeholder="Dia">
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" id="phoneNumber" placeholder="Mês">
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" id="phoneNumber" placeholder="Ano ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="postalAddress">Endereço:</label>
                    <div class="col-xs-9">
                        <textarea rows="3" class="form-control" id="postalAddress" placeholder="Endereco"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="ZipCode">CEP:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="ZipCode" placeholder="CEP">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Sexo:</label>
                    <div class="col-xs-3">
                        <label class="radio-inline">
                            <input type="radio" name="genderRadios" value="male"> Masculino
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <label class="radio-inline">
                            <input type="radio" name="genderRadios" value="female"> Feminino
                        </label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <input type="submit" class="btn btn-primary" value="Salvar">
                    </div>
                </div>
            </form>
          </div><!--/span-->
        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Alunos</a></li>
                <li><a href="#">Funcionários</a></li>
                <li><a href="#">Usuários</a></li>
                <li><a href="#">Turmas</a></li>
                <li><a href="#">Disciplinas</a></li>
                <li><a href="#">Logs</a></li>
                <li><a href="#" ng-click='logout()'>Logout</a></li>
            </ul>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.container-->