    /*
			list css
		*/
		.ui-menu {
			list-style:none;
			padding: 2px;
			margin: 0;
			display:block;
			float: left;
		}
		.ui-menu .ui-menu {
			margin-top: -3px;
		}
		.ui-menu .ui-menu-item {
			margin:0;
			padding: 0;
			zoom: 1;
			float: left;
			clear: left;
			width: 100%;
		}
		.ui-menu .ui-menu-item a {
			text-decoration:none;
			display:block;
			padding:.2em .4em;
			line-height:1.5;
			zoom:1;
			cursor: pointer;
		}
		.ui-menu .ui-menu-item a.ui-state-hover,
		.ui-menu .ui-menu-item a.ui-state-active {
			font-weight: normal;
			margin: -1px;
		}
		/*
			datepicker style
		*/
		.ui-datepicker {
		    display: none;
		    padding: .2em .2em 0;
		    width: 17em;
		}
		
		.ui-datepicker .ui-datepicker-header {
		    padding: .2em 0;
		    position: relative;
		}
		
		.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
		    height: 1.8em;
		    position: absolute;
		    top: 2px;
		    width: 1.8em;
		}
		
		.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
		
		.ui-datepicker .ui-datepicker-prev { left: 2px; }
		
		.ui-datepicker .ui-datepicker-next { right: 2px; }
		
		.ui-datepicker .ui-datepicker-prev-hover { left: 1px; }
		
		.ui-datepicker .ui-datepicker-next-hover { right: 1px; }
		
		.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
		    display: block;
		    left: 50%;
		    margin-left: -8px;
		    margin-top: -8px;
		    position: absolute;
		    top: 50%;
		}
		
		.ui-datepicker .ui-datepicker-title {
		    line-height: 1.8em;
		    margin: 0 2.3em;
		    text-align: center;
		}
		
		.ui-datepicker .ui-datepicker-title select {
		    font-size: 1em;
		    margin: 1px 0;
		}
		
		.ui-datepicker select.ui-datepicker-month-year { width: 100%; }
		
		.ui-datepicker select.ui-datepicker-month,
		.ui-datepicker select.ui-datepicker-year { width: 49%; }
		
		.ui-datepicker table {
		    border-collapse: collapse;
		    font-size: .9em;
		    margin: 0 0 .4em;
		    width: 100%;
		}
		
		.ui-datepicker th {
		    border: 0;
		    font-weight: bold;
		    padding: .7em .3em;
		    text-align: center;
		}
		
		.ui-datepicker td {
		    border: 0;
		    padding: 1px;
		}
		
		.ui-datepicker td span, .ui-datepicker td a {
		    display: block;
		    padding: .2em;
		    text-align: right;
		    text-decoration: none;
		}
		
		.ui-datepicker .ui-datepicker-buttonpane {
		    background-image: none;
		    border-bottom: 0;
		    border-left: 0;
		    border-right: 0;
		    margin: .7em 0 0 0;
		    padding: 0 .2em;
		}
		
		.ui-datepicker .ui-datepicker-buttonpane button {
		    cursor: pointer;
		    float: right;
		    margin: .5em .2em .4em;
		    overflow: visible;
		    padding: .2em .6em .3em .6em;
		    width: auto;
		}
		
		.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }
		
		/* with multiple calendars */
		
		.ui-datepicker.ui-datepicker-multi { width: auto; }
		
		.ui-datepicker-multi .ui-datepicker-group { float: left; }
		
		.ui-datepicker-multi .ui-datepicker-group table {
		    margin: 0 auto .4em;
		    width: 95%;
		}
		
		.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }
		
		.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }
		
		.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }
		
		.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width: 0; }
		
		.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }
		
		.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }
		
		.ui-datepicker-row-break {
		    clear: both;
		    font-size: 0em;
		    width: 100%;
		}
		
		/* RTL support */
		
		.ui-datepicker-rtl { direction: rtl; }
		
		.ui-datepicker-rtl .ui-datepicker-prev {
		    left: auto;
		    right: 2px;
		}
		
		.ui-datepicker-rtl .ui-datepicker-next {
		    left: 2px;
		    right: auto;
		}
		
		.ui-datepicker-rtl .ui-datepicker-prev:hover {
		    left: auto;
		    right: 1px;
		}
		
		.ui-datepicker-rtl .ui-datepicker-next:hover {
		    left: 1px;
		    right: auto;
		}
		
		.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right; }
		
		.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
		
		.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float: right; }
		
		.ui-datepicker-rtl .ui-datepicker-group { float: right; }
		
		.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
		    border-left-width: 1px;
		    border-right-width: 0;
		}
		
		.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
		    border-left-width: 1px;
		    border-right-width: 0;
		}
		
		/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
		
		.ui-datepicker-cover {
		    filter: mask(); /*must have*/
		    height: 200px; /*must have*/
		    left: -4px; /*must have*/
		    position: absolute; /*must have*/
		    top: -4px; /*must have*/
		    width: 200px; /*must have*/
		    z-index: -1; /*must have*/
		}
		
		.ui-widget {
    font-family: Verdana, Arial, sans-serif/*{ffDefault}*/;
    font-size: 1.1em/*{fsDefault}*/;
}

.ui-widget .ui-widget { font-size: 1em; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana, Arial, sans-serif/*{ffDefault}*/;
    font-size: 1em;
}

.ui-widget-content {
    background: #ffffff /*{bgColorContent}*/ url(/css/images/ui-bg_flat_75_ffffff_40x100.png) /*{bgImgUrlContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
    border: 1px solid #aaaaaa/*{borderColorContent}*/;
    color: #222222/*{fcContent}*/;
}

.ui-widget-content a { color: #222222/*{fcContent}*/; }

.ui-widget-header {
    background: #cccccc /*{bgColorHeader}*/ url(/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png)   50%   50%   repeat-x ;
    border: 1px solid #aaaaaa/*{borderColorHeader}*/;
    color: #222222 ;
    font-weight: bold;
}

.ui-widget-header a { color: #222222 ; }

/* Interaction states
----------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #e6e6e6 /*{bgColorDefault}*/  /*{bgImgUrlDefault}*/ 50% /*{bgDefaultXPos}*/ 50% /*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
    border: 1px solid #d3d3d3/*{borderColorDefault}*/;
    color: #555555/*{fcDefault}*/;
    font-weight: normal/*{fwDefault}*/;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #555555/*{fcDefault}*/;
    text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #dadada /*{bgColorHover}*/ url(/css/images/ui-bg_glass_75_dadada_1x400.png) /*{bgImgUrlHover}*/ 50% /*{bgHoverXPos}*/ 50% /*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
    border: 1px solid #999999/*{borderColorHover}*/;
    color: #212121/*{fcHover}*/;
    /*font-weight: normal{fwDefault}*/;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #212121/*{fcHover}*/;
    text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #ffffff /*{bgColorActive}*/ url(/css/images/ui-bg_glass_65_ffffff_1x400.png) /*{bgImgUrlActive}*/ 50% /*{bgActiveXPos}*/ 50% /*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;
    border: 1px solid #aaaaaa/*{borderColorActive}*/;
    color: #212121/*{fcActive}*/;
    font-weight: normal/*{fwDefault}*/;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #212121/*{fcActive}*/;
    text-decoration: none;
}

/* Interaction Cues
----------------------------------*/

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #fbf9ee /*{bgColorHighlight}*/ /*{bgImgUrlHighlight}*/ 50% /*{bgHighlightXPos}*/ 50% /*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/;
    border: 1px solid #fcefa1/*{borderColorHighlight}*/;
    color: #363636/*{fcHighlight}*/;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    background: #fef1ec /*{bgColorError}*/ url(/css/images/ui-bg_glass_95_fef1ec_1x400.png) /*{bgImgUrlError}*/ 50% /*{bgErrorXPos}*/ 50% /*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/;
    border: 1px solid #cd0a0a/*{borderColorError}*/;
    color: #cd0a0a/*{fcError}*/;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    filter: Alpha(Opacity=70);
    font-weight: normal;
    opacity: .7;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    background-image: none;
    filter: Alpha(Opacity=35);
    opacity: .35;
}

/* Icons
----------------------------------*/

/* states and images */



.ui-state-default .ui-icon { background-image: url(/css/images/ui-icons_888888_256x240.png)/*{iconsDefault}*/; }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { /*background-image: url(/css/images/ui-icons_454545_256x240.png){iconsHover}*/; }

.ui-state-active .ui-icon { /* background-image: url(/css/images/ui-icons_454545_256x240.png){iconsActive}*/; }

.ui-state-highlight .ui-icon { background-image: url(/css/images/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/; }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url(/css/images/ui-icons_cd0a0a_256x240.png)/*{iconsError}*/; }


/* Corner radius */

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    -khtml-border-top-left-radius: 4px/*{cornerRadius}*/;
    -moz-border-radius-topleft: 4px/*{cornerRadius}*/;
    -webkit-border-top-left-radius: 4px/*{cornerRadius}*/;
    border-top-left-radius: 4px/*{cornerRadius}*/;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    -khtml-border-top-right-radius: 4px/*{cornerRadius}*/;
    -moz-border-radius-topright: 4px/*{cornerRadius}*/;
    -webkit-border-top-right-radius: 4px/*{cornerRadius}*/;
    border-top-right-radius: 4px/*{cornerRadius}*/;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/;
    border-bottom-left-radius: 4px/*{cornerRadius}*/;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/;
    -moz-border-radius-bottomright: 4px/*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/;
    border-bottom-right-radius: 4px/*{cornerRadius}*/;
}

/* Overlays */

.ui-widget-overlay {
    background: #aaaaaa /*{bgColorOverlay}*/ url(/css/images/ui-bg_flat_0_aaaaaa_40x100.png) /*{bgImgUrlOverlay}*/ 50% /*{bgOverlayXPos}*/ 50% /*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/;
    filter: Alpha(Opacity=30)/*{opacityOverlay}*/;
    opacity: .3;
}

.ui-widget-shadow {
    -khtml-border-radius: 8px/*{cornerRadiusShadow}*/;
    -moz-border-radius: 8px/*{cornerRadiusShadow}*/;
    -webkit-border-radius: 8px/*{cornerRadiusShadow}*/;
    background: #aaaaaa /*{bgColorShadow}*/ url(/css/images/ui-bg_flat_0_aaaaaa_40x100.png) /*{bgImgUrlShadow}*/ 50% /*{bgShadowXPos}*/ 50% /*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/;
    border-radius: 8px/*{cornerRadiusShadow}*/;
    filter: Alpha(Opacity=30)/*{opacityShadow}*/;
    margin: -8px /*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/;
    opacity: .3;
    padding: 8px/*{thicknessShadow}*/;
}

.ui-icon.ui-icon-circle-triangle-e, .ui-datepicker-next.ui-corner-all, .ui-datepicker-prev.ui-corner-all
{
	cursor: pointer;
        text-decoration: none;
}

